<%= render(:partial => "partials/gossip_content", locals: { gossip: @gossip }) %>

<% if current_user && current_user.id == @gossip.user.id %>
    <div class="d-flex gap-2">
        <%= link_to "Modifier le potin", edit_gossip_path(@gossip), class: "btn btn-primary" %>
        <%= button_to "Supprimer le potin", gossip_path(@gossip), method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure you want to delete this gossip?" } %>
    </div>
<% end %>

<%= render(:partial => "partials/comments", locals: { comments: @comments, gossip: @gossip }) %>