<div class="text-center">

<h1 class="my-5">Alors comme ça on veut contacter l'équipe ?</h1>

<a class="btn btn-primary btn-lg" href="mailto:contact@gossip.fr" role="button">contact@gossip.fr</a>

</div>