<h1 class="text-center my-5">L'équipe !</h1>

<div class="row mb-3">
  <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card">
    <img src="assets/clement.jpeg" class="card-img-top" alt="Image de clément">
      <div class="card-body">
        <h5 class="card-title">Clément</h5>
        <p class="card-text">Globalement il n'a rien fait, juste lire le cours sur THP.</p>
        <a href="<%= contact_path %>" class="btn btn-primary">Contacter le</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
    <img src="assets/unknown.jpg" class="card-img-top" alt="Image d'un inconnu" style="aspect-ratio: 1 / 1">
      <div class="card-body">
        <h5 class="card-title">Le dev inconnu du dimanche</h5>
        <p class="card-text">C'est lui le véritable maestro de toute cette opération, le cerveau.</p>
        <a href="<%= contact_path %>" class="btn btn-primary">Contacter le</a>
      </div>
    </div>
  </div>
</div>
